<configuration>
    <property name="LOG_DIR" value=".AliyunDynamicDNS/logs/"/>
    　　
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/aliyun-dynamic-dns.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>aliyun-dynamic-dns.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}\t%-5level\t%msg%n</pattern>
        </encoder>
    </appender>
    　　
    <root level="INFO">
        <appender-ref ref="file"/>
    </root>
</configuration>